.resetUlLi{
    list-style: none;
    padding: 0;
    margin: 0;
}

.itemCentralizar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pageCentralizar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.contentCentralizar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}


.resetButton{
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.configCard{
    width: 300px;
    height: 176px;
    background-color: white;

    box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
}
