
/* CSS de configurações Gerais */
.layoutCentralizar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layoutOptions{
    display: flex;
    align-items:stretch;
}
/*********************************/



/* CSS especifico para a tela do LandingPage */
.itemsNavbarToRight{
    display: flex;
    justify-content:flex-end;
}

.layoutConfigNavbar{
    padding-left: 3em;
    padding-right: 3em;
}

.layoutBody{
    background-color: #ECECEC;
    min-height: 100vh;
    max-height: 200vh;
}
/*********************************/




/* CSS especifico para a tela do CadastroPrestador */
.cadastroPrestador{
    display: flex;
}

.layoutBranco{
    background-color: white;
    position: relative;
    min-height: 100vh;
    max-height: 2000px;
    width: 60%;
}

.layoutAzul{
    background-color: #323D87;
    position: relative;
    min-height: 100vh;
    max-height: 2000px;

    width: 40%;
}

.fontConfig{
    color: rgba(0, 0, 0, 0.85);
    size: 16px;
    line-height: 20px;
    font-weight: 300;
    font-style: normal;
}

.formConfigCadastroPrestador{
    width: 60%;
}

.formConfigCadastroPrestador Label{
    color:rgba(0, 0, 0, 0.65);
}

.campoObrigatorio{
    color: rgba(255, 77, 79, 1);
}

.facaLogin{
    color: #323D87;
}

.logoSite{
    margin-top: 56px;
}

/*********************************/


.bordarIconeLogin{
    border-top: 1px solid #D9D9D9;
    border-left: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    border-radius: 2px 0px 0px 2px;
}

.bordarInputLogin{
    border-top: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    border-left: none;
    border-radius: 0px 2px 2px 0px;
}
