.filters{
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-bottom: 62px;
}

.filters :first-child{
    margin-right: 10px;
}

.filters .btProx{
    margin-left: 10px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}